#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Label_99 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_33 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_34 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_35 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_36 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_37 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Label_106 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_14 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_15 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Button_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}