#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_14 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_14 {
  stroke-width: 1px;
  stroke: #757575;
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_15 {
  stroke-width: 3px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Line_15 {
  stroke-width: 3px;
  stroke: #157EFB;
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Rectangle_11 {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #D9D9D9;
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_49 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Button_12 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_36 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_3 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_4 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_5 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_6 {
  -ms-transform: rotate(0.0deg);
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 #s-Image_7 {
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-296f5e5b-a284-40ed-b5c8-9136c5fe4d34 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}