#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_33 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_34 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_35 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_36 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_37 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_10 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_29 {
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 407px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 407px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 406px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 41px;
  -ms-transform: rotate(0.0deg);
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  padding-top: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  height: 37px;
  width: 406px;
  -ms-transform: rotate(0.0deg);
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}