#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 > #backgroundBox {
  background-color: transparent;
  background-image: none;
  position: absolute;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 > #alignmentBox {
  position: relative;
  max-width: 414px;
  max-height: 736px;
  width: 100%;
  height: 100%;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Statusbar-black {
  position: absolute;
  width: 414px;
  height: 20px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: #000000;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 {
  position: absolute;
  width: 414px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 > .paddingLayer {
  height: 19px;
  width: 414px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 span {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Rectangle_10 span#rtr-s-Rectangle_10_0 {
  color: #1174C1;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 {
  position: absolute;
  width: 78px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 > .paddingLayer {
  height: 19px;
  width: 78px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_99 span#rtr-s-Label_99_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Group_24 {
  position: absolute;
  width: 34px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_33 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_33 span#rtr-s-Ellipse_33_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_34 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_34 span#rtr-s-Ellipse_34_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_35 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_35 span#rtr-s-Ellipse_35_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_36 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_36 span#rtr-s-Ellipse_36_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 > .shapert-clipping {
  width: 6px;
  height: 6px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 .shapert-clipping {
  left: 0px;
  top: 0px;
  width: 6px;
  height: 6px;
  position: absolute;
  overflow: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 .content {
  text-shadow: none;
  width: 6px;
  height: 6px;
  font-size: 12.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 > svg {
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 {
  position: absolute;
  width: 6px;
  height: 6px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Ellipse_37 {
  width: 6px;
  height: 6px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #FFFFFF;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #shapewrapper-s-Ellipse_37 span#rtr-s-Ellipse_37_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 12.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 > .backgroundLayer {
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-color: transparent;
  background-image: none;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 {
  position: absolute;
  width: 50px;
  height: 19px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  font-size: 9.0pt;
  font-family: 'Roboto-Regular',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 > .paddingLayer {
  height: 19px;
  width: 50px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 span {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Label_106 span#rtr-s-Label_106_0 {
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Regular',Arial;
  font-size: 9.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_10 {
  position: absolute;
  width: 25px;
  height: 10px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_10 > img, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_10 > svg {
  height: 10px;
  width: 25px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_26 > svg {
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_26 {
  position: absolute;
  width: 17px;
  height: 17px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_26 > img, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_26 > svg {
  height: 17px;
  width: 17px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_27 > svg {
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_27 {
  position: absolute;
  width: 14px;
  height: 14px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_27 > img, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_27 > svg {
  height: 14px;
  width: 14px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_29 > svg {
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_29 {
  position: absolute;
  width: 30px;
  height: 30px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_29 > img, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Image_29 > svg {
  height: 30px;
  width: 30px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #6EFFFE;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button {
  position: absolute;
  width: 415px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button > .paddingLayer {
  height: 37px;
  width: 407px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button span#rtr-s-Button_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button span#rtr-s-Button_1 {
  color: #157EFB;
  text-align: left;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #CCCCCC;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 {
  position: absolute;
  width: 415px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 > .paddingLayer {
  height: 37px;
  width: 407px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_1 span#rtr-s-Button_1_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_2 span#rtr-s-Button_2_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_3 span#rtr-s-Button_3_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_4 span#rtr-s-Button_4_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_5 span#rtr-s-Button_5_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_6 span#rtr-s-Button_6_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_7 span#rtr-s-Button_7_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_8 span#rtr-s-Button_8_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_9 span#rtr-s-Button_9_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #D9D9D9;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 {
  position: absolute;
  width: 414px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 > .paddingLayer {
  height: 37px;
  width: 406px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_10 span#rtr-s-Button_10_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_11 span#rtr-s-Button_11_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_12 span#rtr-s-Button_12_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_13 span#rtr-s-Button_13_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #F5F9B0;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 {
  position: absolute;
  width: 49px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 14.0pt;
  font-family: 'Roboto-Light',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 > .paddingLayer {
  height: 37px;
  width: 41px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 span {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_14 span#rtr-s-Button_14_0 {
  color: #157EFB;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Light',Arial;
  font-size: 14.0pt;
  line-height: 0px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 > .backgroundLayer {
  height: calc(100% + -2px);
  width: calc(100% + -2px);
  background-color: #00FFFF;
  background-image: none;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #F8F7F6;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #F8F7F6;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #F8F7F6;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #F8F7F6;
  border-radius: 5px 5px 5px 5px;
  box-shadow: none;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 {
  position: absolute;
  width: 414px;
  height: 45px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  transform: rotate(0deg);
  text-shadow: none;
  padding-left: 0px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  line-height: 27px;
  font-size: 16.0pt;
  font-family: 'Roboto-Bold',Arial;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 > .clipping, #s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 > .paddingLayer {
  height: 37px;
  width: 406px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 #s-Button_15 span#rtr-s-Button_15_0 {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Roboto-Bold',Arial;
  font-size: 16.0pt;
  line-height: 0px;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-d4b52083-bd6c-4324-bec0-b373affc5ab0 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}